
<h1>MemeTube</h1>
<a href="/posts/new">Create a new video</a>
<br>


	<% @posts.each do |post| %>
	<div class="videos">
		<iframe width=400 height= 250
		src="https://www.youtube.com/embed/<%= post.url %>" frameborder="0" allowfullscreen></iframe>
		<h2>Title: <%= post.title %></h2>


		<a href="/posts/<%=  post.id %>">View</a>
		<a href="/posts/<%= post.id %>/edit">Edit</a>s


		<form action="/posts/<%= post.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="Delete">
		</form>
	</div>
	<% end %>

